/* ButtonBar.css */

/* Styling for the container of the button bar */
.button-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for each individual button */
.button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border-radius: .5rem;
  padding: .5rem auto;
}

/* Styling for the active button */
.button.active {
  background-color: #5271FF;
  color: #fff;
  border-color: #5271FF;
}

/* Hover effect on buttons */
.button:hover {
  background-color: #5271FF;
  color: black;
  border-color: #5271FF;
}
